div, span {
    margin: 20px;
    padding: 20px;
}

div {
    background-color: green;
    display: inline-block;
}

span {
    background-color: blue;
    display: inline-block;
}

.special {
    left: 30px;
    top: 30px;
    position: sticky;
}